{% extends "base.html" %}
{% block title %}Neuron Changelog{% endblock %}
{% block content %}

<h4 style="margin: 14px;">Neuron Changelog</h4>
<!--<h6 style="margin: 14px; color: grey;">Data updated: %%updated_time%%</h6>
{% if error != None %}
<h6 style="margin: 14px; color: red;">Error: {{error}}</h6>
{% endif %}-->

<span id="app">
    <h6 v-show='error.length !== 0' style="margin: 14px; color: red;">Error: {{error}}</h6>
    <h6 v-show='warn.length !== 0' style="margin: 14px; color: orange;">Warning: {{warn}}</h6>
    <h6 style="margin: 14px;">Segment ID: </h6>
    <nav class="navbar navbar-light bg-light" style="justify-content: flex-start;">
        <input type="number" v-model="query.root_id" name="query">
        <button class="btn btn-primary" type="button" @click="apiRequest" :disabled="!isReady">
            <span class="spinner-border spinner-border-sm" aria-hidden="true" v-show="loading"></span>
            {{ status }}
        </button>
    </nav>
    <nav class="navbar navbar-light bg-light" style="justify-content: flex-start;">
        <span>
            <a data-toggle="tooltip"
                title="Filters out edits to parts of a cell that didn't end up on the final cell. Also filters out edits that were performed then reversed. Selecting this is the default, so that credit can be given to users who edited the cell shown.">
                <img style='vertical-align:initial' src='info.png'>
            </a>
            <label for="filtered"> Filter unrelated edits: </label>
            <input name="filtered" type="checkbox" v-model.boolean="query.filtered">
        </span>
        <span style="margin-left: 80px;">
            <label for="dset"> Dataset: </label>
            <select name="dset" v-model="dataset">
                <option value="h01_full0_v2">
                    Full Dataset</option>
                <option value="test0_parents_v0">
                    Test Dataset</option>
                <option value="fly_v26">Flywire</option>
            </select>
        </span>
        <span style="margin-left: 80px;">
            <button @click="exportSingleCSV" :disabled="!response.length" class="btn btn-primary">Export CSV</button>
        </span>
    </nav>

    <span id="prefix" style="display: none;">%% prefix %%</span>

    <table class="table table-bordered" v-show="response.length" style="background: #EAE7DC;">
        <thead>
            <tr>
                <th v-for="header in headers">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in response">
                <td v-for="key in Object.keys(row)">{{row[key]}}</td>
            </tr>
        </tbody>
    </table>
</span>
<script src="query.js"></script>
{% endblock %}