td[align="left"] > input[type="text"] {
    width: 440px;
}

td[align="right"] {
    width: 120px;
}
.form-error{
    border:2px solid red;
}

input.number {
    width: 60px;
}


input[type="number"] {
    width: 440px;
}

td {
    padding: 10px;
}

tr.hide {
    display: none;
}

hr.bold {
    height: 4px !important;
    border-width: 0;
    color: black !important;
    background-color: black !important;
}

hr {
    width: 50%
}