<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Root Query</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/@johmun/vue-tags-input/dist/vue-tags-input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.js"
        integrity="sha512-/McISOEKVzVvgu12/1Hk8dSrbKBShnKn79/R50ysl5qWR1zgj347kOT8LJJvInxHDSPmiBG9vg5AhMx6rcELJg=="
        crossorigin="anonymous"></script>
    <style>
        div.vue-tags-input {
            max-width: 1000px !important;
            width: 750px;
        }

        textarea {
            width: 1000px;
        }

        td.major {
            background-color: gold;
        }

        .btn {
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <table class="table table-bordered" v-show="response.length">
            <thead>
                <tr>
                    <th v-for="header in headers">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in response">
                    <td v-for="cell in row">{{cell}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="table.js"></script>
</body>

</html>